
<!DOCTYPE html>
<html lang="en">
   <head>
      <title> Nice to Meet You</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="WTBU website">
      <meta name="author" content="Scarleth Estevez">
      <link rel="icon" href="./Drawing.png">
      <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico" rel="stylesheet">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
             <script src="//assets.transloadit.com/js/jquery.transloadit2-v2-latest.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/device.js/0.2.7/device.min.js"></script>
      
     
       <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="./style.css">
       
       
   </head>
      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>                        
               </button>
                <a class="navbar-brand" href="/sign.html"><span class="spacing">Nice to Meet You</span></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav">
                  <li ><a href="/index.html">&nbsp; <i class="fa fa-lg  fa-user" aria-hidden="true"> </i> Profile</a></li>
                   <li ><a href="/camera.html">&nbsp; <i class="fa fa-lg fa-camera" aria-hidden="true">  </i> Camera</a></li>
               
                 
               </ul>
                
                    

 
            
                
            </div>
          </div>
      </nav>
    <br>
    <br>
<br>
    <style>
    
    
        p{
               font-family: 'Josefin Sans', sans-serif;
            font-size: 18px;
            line-height: 100%;
        }
        hr{
            border-width: 2px;
            border-color: dimgray;
        }
        .blue{
            color:#6eb6b3;
        }
        .img-thumbnail{
            border-color: #6eb6b3;
            background-color: #6eb6b3;
        }
    </style>
    <div class="col-md-6">
    <div class="well">
        <center>
        <img id="profileimage" class="img-responsive img-circle img-thumbnail" src="profile.jpg" width="180px">
      <br>
            <hr>
        <p>
            <span class="blue">Scarleth Estevez</span>
        </p>
        <p>
            <span class="blue"> Email:</span> scarleth@bu.edu
        </p>
        <p>
            <span class="blue">Company:</span> NiceToMeetYou
        </p>
            <p>
                <span class="blue">Interests:</span> Videogames, Soccer, Films, Music
            </p>
            <p>
                <span class="blue">Bio:</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus ante quis erat luctus varius. Nullam consequat purus nec interdum egestas. Mauris vestibulum pulvinar vehicula. Sed in facilisis ante, id tempus sem. Nam fermentum laoreet sem et consequat. Quisque varius lectus nec turpis 
                
            </p>
          </center>
        </div>
    </div>
    
    
    



</html>
